/* CSS for pdf */

.page .section h1{display:none} /* double h1 workaround */
book{font-family:Palatino;font-size:14px}
body{font-family:Palatino;font-size:14px}
.page{font-family:Palatino;font-size:14px}
.page h1:first{display:none}
.page h2{display:none}
p,
blockquote,
ul,
ol,
dl,
table,
pre {
  text-align: justify;
  font-family:serif;
}