/* CSS for website */

.book .book-body .page-wrapper .page-inner section.normal blockquote {
	padding:0 15px;
	color:#777;
	border-left:0px solid #ddd
}

sup a:before {
    content: "[";
}
sup a:after {
    content: "]";
}