/* CSS for website */
.custom-link {
    display:none;
}

blockquote{
    color:black;
    font-size:0.9em;
    border-left:0;
}

.page .section h1{display:none} /* double h1 workaround */
body{font-family:Palatino;font-size:14px}